@import "variables.scss";

@media (min-width: 1440px) {
  .portfolio__container-boxes {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1300px) {
  .s-sec__wrapper {
    margin: 0 auto;
  }
  .portfolio-design__wrapper-top {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1300px) and (min-height: 900px) {
  .first-cont__title {
    margin-top: 70px;
  }
}
