@mixin portfolio-design-image($width, $height) {
  width: $width;
  height: $height;
}
@mixin half-buttons-effects($bg-color, $text-color-first, $text-color-second) {
  position: relative;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 360px;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 58%;
    height: 100%;
    background: $bg-color;
    clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
    transition: all 1s ease;
  }
  a {
    position: relative;
    z-index: 3;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 64px;
    transition: color 1.5s;
    font-size: 18.82px;
    font-weight: bold;

    &:first-of-type {
      color: $text-color-second;
    }
    &:last-of-type {
      color: $text-color-first;
    }
  }

  &:hover {
    &::after {
      right: 42%;
      clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
      transition: all 1s ease;
    }
    a {
      transition: color 1.5s;
      &:first-of-type {
        color: $text-color-first;
      }
      &:last-of-type {
        color: $text-color-second;
      }
    }
  }
}
