/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

@import "../css/fonts";
@import "variables.scss";
@import "mixins.scss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Gilroy";
}

.s-sec {
  width: 100%;
  height: 100vh;
  max-height: 900px;
  position: relative;
}
.s-block {
  width: 100%;
  position: relative;
}
.s-sec_bg-dark {
  background-color: $bg-dark;
}
.s-sec_bg-light {
  background: $bg-light;
}
.first {
}
.first_bg-first-dark {
  background: $first-bg-dark;
}
.s-sec__wrapper {
  margin: 0 30px;
  max-width: 1340px;
  height: 100%;
}
.s-sec__wrapper_first-bg {
  background-image: url("../img/myan-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.conteiner {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
}

// ------------------------borders blocks --------------------
.border-block {
  position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 880px;
  z-index: 2;
}
.border-block_borders {
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}
.border-block__shadow {
  height: 100%;
  width: 100%;
  max-width: 310px;
  background: none;
}
.border-block__shadow_dark {
  box-shadow: 0px 0px 32px 20px rgba(0, 0, 0, 0.75);
}

.border-block_border-black {
  border-color: $border-black;
}
.border-block_border-contact-page-black {
  border-color: $border-contact-page-black;
}
.border-block_border-menu-black {
  border-color: $border-menu-black;
}
.border-block_border-black-dark {
  border-color: $border-black-dark;
}
.border-block_border-grey {
  border-color: $border-grey;
  // color: green;
}
.border-block__grey-block {
  position: relative;
  display: -webkit-box;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  max-width: 440px;
  border-left-width: 1px;
  border-left-style: solid;

  &:last-child {
    border-right-width: 1px;
    border-right-style: solid;
  }
}
.border-block__menu-block {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 50%;
  max-width: 360px;
  border-left-width: 1px;
  border-left-style: solid;

  &:last-child {
    border-right-width: 1px;
    border-right-style: solid;
  }
}
.border-cont {
  position: relative;
  margin: 130px auto 0 auto;
  width: 100%;
  max-width: 880px;
}
.border-cont__subtitle {
  margin-bottom: 40px;
  margin-left: -55px;
  position: relative;
  z-index: 4;
  font-size: 20px;
  font-weight: bold;
}
.border-cont__subtitle:before {
  content: "";
  position: absolute;
  // align-self: center;
  top: 11px;
  left: -100px;
  width: 90px;
  height: 2px;
  background: #000;
}
.border-cont__title {
  position: relative;
  z-index: 4;
  width: 100%;
  max-width: 590px;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
}
.border-cont__title-main {
  margin-top: -25px;
  text-align: center;
  font-size: 180px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px;
}
.border-cont__title-main_grey {
  color: $border-text-grey;
}
.border-cont__title-main_ml-tech {
  position: relative;
  margin-left: -155px;
  letter-spacing: 10px;
  // z-index: 0;
}

.border-cont__parag {
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px;
}

// ------------------------borders blocks --------------------

// wrapper top
.wrapper-top {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.wrapper-top_mrg {
  margin-top: 40px;
}
.wrapper-top__logo {
}

.logo__link {
  height: 75px;
}
// wrapper top

// menu
.menu-cont {
  display: -webkit-box;
  display: flex;
}
.menu-cont-title {
}
.menu-cont__title {
  margin-right: 35px;
  font-size: 18px;
  // font-family: "Gilroy";
  text-transform: uppercase;
}
.menu-btn {
  margin-top: 4px;
}
.menu-btn-cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end;
}

.menu-btn-cont__bar-line {
  display: block;
  height: 2px;
  width: 40px;
  margin-bottom: 7px;

  &:last-child {
    width: 35px;
  }
}
.bar-line_light {
  background: #fff;
}
.bar-line_dark {
  background: #000;
}
// menu

.first-cont__main {
  align-content: stretch;
  height: 100%;
  width: 100%;
}
.cont-stretch {
  align-content: stretch;
  height: 100%;
  width: 100%;
}
.first-cont__text {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}
.first-cont-title {
  position: relative;
  margin-left: 100px;
  max-width: 725px;
  width: 100%;
}
.first-cont__title {
  font-size: 76px;
  line-height: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.main-subtitle {
  position: absolute;
  right: 0;
  right: 25px;
  bottom: 20px;
}
.main-subtitle-linecont {
  margin-bottom: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.main-subtitle__line {
  height: 1px;
  width: 200px;
  background: $bg-light;
}

.main-subtitle-text {
  // position: absolute;
  // right: 0;
  // bottom: 0;
}
.main-subtitle__text {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

// wrapper bottom
.wrapper-bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
  height: 83px;
  z-index: 5;
}
.wrapper-bottom_mr8 {
  margin-bottom: 80px;
}
.wrapper-bottom-logo {
  position: relative;
}
.bottom-logo__img {
}
.bottom-logo-text {
  margin-top: 10px;
  width: 20%;
}
.bottom-logo__text {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
}
.wrapper-bottom-scroll {
  position: absolute;
  left: 50%;
  right: 50%;
  z-index: 5;
}
.bottom-scroll__scroll-line {
  height: 76px;
  background: #fff;
  width: 2px;
}
.wrapper-bottom-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}
.bottom__link {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
// wrapper bottom

// elaboration
.elaboration {
  overflow: hidden;
}
.elaboration-text {
  align-content: stretch;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 3;
}
.elaboration__text {
  font-size: 125px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.elaboration-scroll {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.elaboration__scroll-link {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 15px;
  // font-family: "Gilroy";
  font-weight: bold;
  letter-spacing: 1.5px;

  &:before {
    content: "V";
    margin-top: 5px;
    margin-right: 10px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: "Conthrax";
    font-weight: bold;
    font-size: 15px;
  }
}
// elaboration

// design
.border-cont__advantages {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  display: -webkit-box;
  display: flex;
  width: 100%;
}
.advantages-text {
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 50%;
}
.advantages-text__number {
  align-self: flex-start;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: "PeaceSans";
  font-size: 20px;

  &:before {
    content: "";
    position: absolute;
    top: 7px;
    left: -40px;
    height: 2px;
    width: 20px;
    background: #000;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.advantages-text__parag {
  margin-top: 15px;
  margin-left: 20px;
  padding-right: 40px;
  font-weight: 300;
  line-height: 20px;
  font-size: 17px;
}
.border-block__programms {
  position: relative;
  z-index: 5;
  margin-top: 100px;
  width: 100%;
}
.design-wrapper-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.programms__title {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}
.programms__inst-box {
  width: 100%;
  display: flex;
}
.programms__instruments {
  padding: 30px 0;
  width: 50%;
  border-top: 1px solid $border-grey;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}
.instriments__img {
  height: 50px;
  width: 50px;
  opacity: 0.5;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.instriments__img:hover {
  cursor: pointer;
  opacity: 1;
}
.instr__img-python {
  -o-object-fit: fill;
  object-fit: fill;
  width: 130px;
}
// design

// technology
.technology {
  // padding-top: 100px;
}
// technology

// request
.request {
  position: relative;
  overflow: hidden;
}
.request-head {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 625px;
}
.request__head {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}
.border-block-request {
  .border-block__grey-block {
    &:last-child {
      border: none;
    }
  }
  .border-cont__title {
    text-transform: none;
    font-size: 45px;
  }
}

.request-cont {
  display: flex;
  width: 100%;
  height: 100%;
}
.request__half {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  // align-items: center;
  height: 100%;
  width: 50%;
}
.request__half-text {
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
  margin-left: 50px;
  width: 100%;
  max-width: 440px;
}
.request__title {
  // margin-top: 100px;
  font-size: 80px;
  line-height: 60px;
  // font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 100px;
}
.request__parag {
  margin-top: 30px;
  font-size: 20px;
  line-height: 20px;
}
.request__half_bg-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.request__link {
  position: absolute;
  display: inline-block;
  width: 100%;
  max-width: 270px;
  text-align: center;
  bottom: 80px;
  padding: 15px 0px;
  color: #fff;
  border: 6px solid #fff;
  font-size: 20px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  background: $bg-dark;
}

.request-body {
  // display: none;
  position: relative;
  // height: 30%;
}
.request__body {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  // height: 100%;
  width: 100%;
}

.request-cont-bord {
  margin-top: 100px;

  .border-cont__parag {
    margin-top: 30px;
    position: relative;
    padding-bottom: 60px;
    z-index: 4;
    line-height: 28px;
  }
}
// request

// parthers
.parter {
}
.wrapper-top_partner {
  position: absolute;
  width: 100%;
}
.border-content-partner {
  margin-top: 70px;
}
.partner-team-box {
  // border: 1px solid black;
  // height: 300px;
  display: flex;
}
.partner-cont__half {
  position: relative;
  z-index: 5;
  // border: 1px solid red;
  // height: 600px;
  width: 50%;
}
.team-card-box {
  padding: 0 60px 0 40px;
  // border: 1px solid green;
}
.team-card-head {
  // border: 1px solid yellow;
  display: flex;
}
.team-card__img {
  // height: 130px;
  // width: 130px;
  // border-radius: 50%;

  img {
    object-fit: cover;
    object-position: center;
    height: 130px;
    width: 130px;
    overflow: hidden;
    border-radius: 50%;
    filter: grayscale(100%);
  }
}
.team-card-text {
  margin-left: 30px;
}
.team-card__title {
  margin-top: 30px;
  font-size: 24px;
  // text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
}
.team-card__subtitle {
  margin-top: 15px;
  font-weight: 300;
  font-size: 16px;
}
.team-card-body {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  // border: 1px solid pink;
}
.team-chrt {
  display: flex;
  flex-direction: column;
}
.chrt-box {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.chrt__title {
}
.chrt__title-text {
  font-size: 16px;
  font-weight: bold;
}
.chrt-scors {
  margin-left: 20px;
  display: flex;
}
.score-line {
  margin: 0 2px;
  display: block;
  width: 4px;
  height: 12px;
  border-radius: 4px;
  background: $bg-dark;
  // filter: blur(1px);
}
.team-chrt-link {
  // margin-left: 30px;
  // display: flex;
  // justify-content: center;
  // align-items: center
}
.team-chrt__link {
  padding: 10px 10px;
  display: block;
  width: 100%;
  color: #fff;
  border: 1px solid $border-grey;
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: $bg-dark;
}
.partner-bor-sub {
  position: absolute;
  top: -55px;
  left: 0;
  // margin-top: 120px;
  // margin-bottom: 20px;
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}
.partner-bor-sub::before {
  top: 16px;
}
.partners-imgs-box {
  position: relative;
  margin-top: 150px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  // min-height: 240px;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;

  // img {
  // margin: 40px 5px;
  // max-width: 200px;

  // object-fit: cover;
  // }
}
.partners-img {
  margin: 20px 0;
  display: flex;
  align-items: center;
  height: 76px;
  transition: 0.8s all;
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
    cursor: pointer;
  }
}
.partners-imgs-box_second {
  border-top: none;
  margin-top: 0;
}
// parthers

// contact
.contact {
  position: relative;
  // z-index: 2;
}
.contact-head {
  width: 100%;
}
.contact-head-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 280px;
}
.contact-head__text {
  width: 100%;
  max-width: 470px;
  margin: 0 25%;
  // width: 35%;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;

  span {
    font-weight: bold;
  }
}
.contact-body {
  width: 100%;
}
.contact-body-title {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
  // text-align: center;
}
.contact-body__title {
  margin-left: 60px;
  margin-top: 90px;
  font-weight: bold;
  font-size: 125px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.contact-b-link {
  margin: 0 20px;
}
.contact-shadow-block {
  max-width: 580px;
  border: none;
}
.contact-border-block {
  border-left: none;
}

.contact-body__main {
  position: relative;
  z-index: 4;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}
.contact__tel {
  min-width: 220px;
  padding-top: 55px;
  // text-align: center;
  // border: 1px solid green;
}
.contact__tel-text {
  // margin-top: 70px;
  // margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
.contact-body__text {
  // width: 100%;
  // min-width: 680px;
  // border: 1px solid red;
}
.contact-body__text-parg {
  margin-top: 55px;
  // width: 90%;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.contact-body__ipcard {
  margin-left: 50px;
  max-width: 400px;
  // border: 1px solid gold;
}
.ipcard__head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  // text-align: center;
}
.ipcard__img {
  margin-right: 30px;

  // img {

  // }
}
.ipcard-check__subtitle {
  // align-self: flex-end;
  font-size: 12px;
}
.ipcard__body {
  margin-top: 20px;
}
.ipcard__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}
.ipcard__subtitle {
  // width: 98%;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.contact-wr-b {
  margin-top: 30px;
  // position: relative;
  z-index: 4;
  align-items: center;
}
.contact-wr-b__text-box {
  text-align: center;
}
.contact-wr-b__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
.contact-wr-b__subtitle {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
}

// contact

// menu
.menu-content {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu-text {
}
.menu__text {
  margin-left: 45px;
  font-size: 250px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu-nav-box {
}
.menu__nav {
  margin-left: 160px;
}
.menu__list {
  display: flex;
  flex-direction: column;
}
.menu__item {
  margin-top: 30px;
}
.menu__link {
  display: inline-flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.menu__link-number {
  margin-right: 40px;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}
// menu

// contact page
.contact-border-cont {
  margin-top: 0;
  height: 100%;
}
.contact-border-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // font-size: 125px;

  .border-cont__advantages {
    margin-top: 95px;
  }

  .border-cont__title {
    font-size: 125px;
    letter-spacing: 20px;
    margin-left: -85px;
  }

  .contact-body__main {
    max-width: 50%;
    margin-top: 0;
    margin-left: -85px;
    width: 100%;
    flex-direction: column-reverse;
  }
  .contact-body__ipcard {
    margin-left: 0;
    max-width: 100%;
  }

  .ipcard__body {
    margin-top: 0;
  }

  .advantages-text {
    margin-left: 85px;
  }

  .contact__tel {
    padding-top: 50px;
  }
}
.w-b-l_contact-page {
  flex-direction: column;
  justify-content: center;

  .ipcard__head {
    margin-bottom: 40px;
  }
}
.contact-bottom-link__box {
}
.contact-form-box {
  width: 100%;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__label {
  margin-left: 18px;
  font-size: 24px;
  font-weight: bold;
}
.contact__input {
  margin-top: 10px;
  padding: 0 20px 8px 18px;
  background: none;
  border-bottom: 1px solid $border-white;
  max-width: 365px;
  transition: max-width 0.6s ease-out;
  font-size: 18px;
  color: $text-white;

  &:focus {
    max-width: 100%;
  }
}
.contact__btn {
  // display: inline;
  margin-top: 75px;
  margin-left: 50px;
  max-width: 270px;
  font-size: 20px;
  padding: 20px 40px;
}

// contact page

// prices page
.prices {
  position: relative;
  overflow: hidden;
}
.wrapper-top_width {
  width: 1340px;
}
.prices__head-box {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 450px;
}
.prices__head {
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  // overflow: hidden;
}
.prices_cont-width {
  margin: 0 auto;
  max-width: 970px;
}
.prices__head-cont {
  margin-top: -40px;
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
}
.prices__banner {
  display: flex;
  flex-direction: column;
  // width: 100%;
}
.prices__banner-head {
}
.prices__head-bg-img {
  // height: 450px;
}
.price__head-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  // max-height: 450px;
  object-fit: cover;
  object-position: center;
}
.prices__banner-title {
  font-size: 260px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px;

  // text-shadow: 0px 0px 160px 0px rgba(39,70,9,1);

  // text-shadow: 1px 1px 2px black, 0 0 1em red;

  // text-shadow: 0px 0px 30px rgba(39, 70, 9, 1);

  background: url("../img/roots.png") no-repeat;
  background-position: -35px -115px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // box-shadow: $price-shadow;
}
.prices__banner-body {
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.prices__banner-text {
}
.prices__banner-text_left {
  margin-left: -100px;
}
.prices__banner-text_right {
  margin-right: -160px;
}
.prices__banner-parag {
  font-size: 22px;
  font-weight: 300;
}
.prices__banner-text-title {
  font-weight: bold;
  font-size: 32px;
}
.prices__body-box {
  position: relative;
  width: 100%;
  // height: 100%;
}
.prices__body {
  position: relative;
}
.prices__body-cont {
  // position: relative;
}
.prices__offers {
  position: relative;

  // z-index: 5;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.prices__offers_padding-top {
  padding-top: 40px;
}
.prices__offers_padding-bottom {
  padding-bottom: 60px;
}
.prices__offers-title {
  position: absolute;
  top: 100px;
  left: -16px;
  z-index: 4;
}
.prices__offers-title_grey {
  font-size: 280px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $text-price-grey;
}
.prices__offers-card {
  position: relative;
  z-index: 5;
  margin-bottom: 25px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  // height: 200px;
}
.prices__offers-card_border-b-grey {
  border-bottom: 1px solid $border-price-grey;
}
.prices__offers-inf {
  display: flex;
  flex-direction: column;
}
.price__offers-inf-title {
  font-weight: bold;
  font-size: 25px;
}
.price__offers-inf-text {
  margin-top: 10px;
  font-weight: 300;
  font-size: 20px;
}
.prices__offers-price {
  display: flex;
  align-items: flex-end;
}
.prices__offers-price-text {
  font-weight: 300;
  font-size: 20px;

  span {
    margin-left: 5px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
  }
}

// prices page

// --------------------------------------!!!!!!
.text-white {
  color: $text-white;
}
.text-black {
  color: $text-black;
}
.text-dark {
  color: $text-dark;
}
.btn_white {
  background: $btn-bg-white;
  color: $text-dark;
  font-weight: bold;
  text-transform: uppercase;
}
