/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

@import "../css/fonts";
@import "variables.scss";
@import "mixins.scss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Gilroy";
}

.s-sec {
  width: 100%;
  height: 100vh;
  max-height: 900px;
  position: relative;
  // max-width: 1440px;
  // margin: 0 auto;
}
.s-sec_bg-dark {
  background-color: $bg-dark;
  //   background-image: url('../img/myan-bg.png');
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
}
.s-sec_bg-light {
  background: $bg-light;
}
.first {
}
.s-sec__wrapper {
  margin: 0 4%;
  max-width: 1440px;
  height: 100%;
}
.s-sec__wrapper_first-bg {
  background-image: url("../img/myan-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.conteiner {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
}

// ------------------------borders blocks --------------------
.border-block_flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-self: center;
  -webkit-box-align: center;
  align-items: center;
}
// .alg-i_cent {
// align-items: center;
// }
.border-block {
  position: absolute;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-self: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  // max-width: 870px;
  z-index: 2;
}
.border-block_borders {
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}
.border-block__shadow {
  height: 100%;
  width: 100%;
  max-width: 310px;
  background: none;
}
.block-block__shadow_dark {
  box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.75);
}
// .border-block_abs {
//   position: absolute;
// }
.border-block_border-dark {
  border-color: $border-dark;
}
.border-block_border-grey {
  border-color: $border-grey;
}
.border-block__grey-block {
  position: relative;
  display: -webkit-box;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  max-width: 440px;
  border-left-width: 1px;
  border-left-style: solid;

  &:last-child {
    border-right-width: 1px;
    border-right-style: solid;
  }
}
.border-block__border-text {
  position: absolute;
  max-width: 870px;
  z-index: 2;
}
.border-text__subtitle {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-left: -55px;
}
.border-text__subtitle:before {
  content: "";
  position: absolute;
  // align-self: center;
  top: 11px;
  left: -100px;
  width: 90px;
  height: 2px;
  background: #000;
}
.border-text__title {
  width: 80%;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
}
.border-text__title-main {
  text-align: center;
  font-size: 180px;
  font-weight: bold;
  text-transform: uppercase;
}
.border-text__title-main_grey {
  color: #dbdbdb;
}
.border-text__title-main_ml-tech {
  margin-left: -150px;
}

.border-text__parag {
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px;
}

// ------------------------borders blocks --------------------

// wrapper top
.wrapper-top {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.wrapper-top_mrg {
  margin-top: 40px;
}
.wrapper-top__logo {
}

.logo__link {
  height: 75px;
}
// wrapper top

// menu
.menu-cont {
  display: -webkit-box;
  display: flex;
  // align-items: flex-start;
  // width: 100px;
  // border: 1px solid pink;
}
.menu-cont-title {
}
.menu-cont__title {
  margin-right: 35px;
  font-size: 18px;
  // font-family: "Gilroy";
  text-transform: uppercase;
}
.menu_btn {
}
.menu-btn-cont {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end;
}

.menu-btn-cont__bar-line {
  display: block;
  height: 2px;
  width: 40px;
  // background: #fff;
  margin-bottom: 7px;

  &:last-child {
    width: 35px;
  }
}
.bar-line_light {
  background: #fff;
}
.bar-line_dark {
  background: #000;
}
// menu

.first-cont__main {
  // align-content: stretch;
  // height: 100%;
  // width: 100%;
  // border: 1px solid yellow;
}
.cont-stretch {
  align-content: stretch;
  height: 100%;
  width: 100%;
}
.first-cont__text {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  // justify-content: center;
}
.first-cont-title {
  position: relative;
  margin-left: 95px;
  width: 50%;
  // border: 1px solid orange;
}
.first-cont__title {
  font-size: 76px;
  line-height: 100px;
  // font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-subtitle {
  position: absolute;
  right: -70px;
  bottom: 20px;
}
.main-subtitle-linecont {
  margin-bottom: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.main-subtitle__line {
  height: 1px;
  width: 200px;
  background: $grey-line;
}

.main-subtitle-text {
  // position: absolute;
  // right: 0;
  // bottom: 0;
}
.main-subtitle__text {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

// wrapper bottom
.wrapper-bottom {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 83px;
}
.wrapper-bottom_falg-end {
  -webkit-box-align: end;
  align-items: flex-end;
}
.wrapper-bottom_mr8 {
  margin-bottom: 80px;
}
.wrapper-bottom-logo {
  position: relative;
}
.bottom-logo__img {
}
.bottom-logo-text {
  margin-top: 10px;
  width: 20%;
}
.bottom-logo__text {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
}
.wrapper-bottom-scroll {
  position: absolute;
  left: 50%;
  right: 50%;
  z-index: 5;
}
.bottom-scroll__scroll-line {
  height: 76px;
  background: #fff;
  width: 2px;
}
.wrapper-bottom-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}
.bottom__link {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
// wrapper bottom

// elaboration
.elaboration {
  overflow: hidden;
}
.elaboration-text {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 3;
}
.elaboration__text {
  font-size: 125px;
  // font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.elaboration-scroll {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.elaboration__scroll-link {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 15px;
  // font-family: "Gilroy";
  font-weight: bold;
  letter-spacing: 1.5px;

  &:before {
    content: "V";
    margin-top: 5px;
    margin-right: 10px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: "Conthrax";
    font-weight: bold;
    font-size: 15px;
  }
}
// elaboration

// design
.design-wrapper-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.border-text__advantages {
  position: relative;
  z-index: 10;
  margin-top: 50px;
  display: -webkit-box;
  display: flex;
  width: 100%;
}
.advantages-text {
  position: relative;
  display: -webkit-box;
  display: flex;
  width: 50%;
}
.advantages-text__number {
  align-self: flex-start;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: "PeaceSans";
  font-size: 20px;

  &:before {
    content: "";
    position: absolute;
    top: 7px;
    left: -40px;
    height: 2px;
    width: 20px;
    background: #000;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.advantages-text__parag {
  //
  margin-top: 15px;
  //
  margin-left: 30px;
  font-weight: 300;
  line-height: 20px;
  font-size: 17px;
}
.border-block__programms {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.programms__title {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}
.programms__instruments {
  // padding: 10px 0;
  border-top: 1px solid $border-grey;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}
.instriments__img {
  height: 50px;
  width: 50px;
  opacity: 0.5;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.instriments__img:hover {
  cursor: pointer;
  opacity: 1;
}
.instr__img-python {
  -o-object-fit: fill;
  object-fit: fill;
  width: 130px;
}
// design

// technology
.technology {
  // padding-top: 100px;
}
// technology

// request
.request {
  position: relative;
}
.request-head {
  // position: relative;
  // z-index: 2;
  // display: flex;
  // border: 1px solid green;
  width: 100%;
  height: 70%;
  // overflow: hidden;
}
.request__head {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .wrapper-top {
    position: absolute;
    z-index: 3;
    width: 100%;
  }
}

.request__half {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  // align-items: center;
  height: 100%;
  width: 70%;
}
.request__half-text {
  position: relative;
  z-index: 2;
  margin-left: 50px;
  width: 50%;
}
.request__title {
  font-size: 60px;
  line-height: 60px;
  // font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.request__parag {
  margin-top: 60px;
  font-size: 18px;
  line-height: 20px;
}
.request__half_bg-img {
  background: url("../img/request-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.request__link {
  position: absolute;
  bottom: 80px;
  padding: 10px 60px;
  color: #fff;
  border: 6px solid #fff;
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  background: $bg-dark;
}

.request-body {
  position: relative;
  height: 30%;
}
.request__body {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .wrapper-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .border-block__border-text {
    width: 100%;
  }
}
// request

// --------------------------------------!!!!!!
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
