$first-bg-dark: #121212;
$bg-dark: #191919;
$bg-light: #ffffff;

// $border-dark: #141414;
$border-black: #000;
$border-white: #ffffff;
$border-black-dark: #191919;
$border-grey: #afafaf;
$border-menu-black: #0c0c0c;
$border-contact-page-black: #111111;

// $grey-line: #f1f1f1;
$text-white: #fff;
$text-black: #000;
$text-dark: #191919;

$btn-bg-white: #ffffff;
