/* list */
.contact-list {
}
.contact-inf__list-box {
  margin-top: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.cont-list__item {
  margin-top: 15px;
  display: -webkit-box;
  display: flex;
  font-size: 18px;
  font-weight: 300;
}
