@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* @font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
} */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* @font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
} */

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* @font-face {
    font-family: 'Open Sans';
    src: url('OpenSansLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
} */

/* @font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
} */

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

