@media (min-width: 1291px) {
  .wrapper {
    margin: 0 auto; }
  .banner_img {
    margin-right: -40px; }
  .about_img {
    margin-left: -40px; }
  .about_inf {
    margin-left: 90px; } }

@media (max-width: 1290px) {
  .wrapper {
    width: 94%;
    margin: 0 3%; } }

@media (max-width: 1200px) {
  .advt_inf_img {
    right: -15%; }
  .days_steps_container {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .days_steps_box {
    width: 40%;
    margin: 40px 0; } }

@media (max-width: 1060px) {
  .menu_list li {
    margin: 10px 0; }
  .banner_img {
    height: 80%; }
  .about_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .about_inf {
    width: 90%;
    margin: 0; }
  .about_img {
    margin: 50px 0 0 0;
    width: 60%; }
    .about_img img {
      max-height: 550px; }
  .main_nav_links_box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main_nav_links_box > div {
      width: 33%;
      margin: 15px 0; }
  .submenu_ctlg {
    top: 40px; }
  .advt_inf_img {
    right: -18%; }
  .menu_box {
    height: auto;
    padding: 10px 0; }
  .stsc_box > div {
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .steps_cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .step_card {
    margin: 30px 0;
    width: 40%; }
  .ctg_box:after {
    top: 30px;
    font-size: 200px; }
  .ctg_cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .ctg_card {
    margin: 40px 0;
    width: 40%; }
  .ctg_choise_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .ctg_choise_anlg {
    width: 100%; }
  .ctg_choise_size {
    margin-top: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  .footer_container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
    .footer_container > div {
      margin-bottom: 50px;
      width: 40%; }
  .history_about_box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .history_about_content {
    margin-right: 50px;
    padding: 10px 0;
    width: 45%; }
  .history_list_box {
    margin-top: 70px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .product_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .product_inf {
    margin-left: 0;
    width: 100%; }
  .product_img {
    margin-left: 0; }
  .contact_form_sec:after {
    bottom: 4%;
    width: 100%;
    font-size: 200px; } }

@media (max-width: 920px) {
  .banner_img {
    height: 60%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .about_img {
    margin: 50px 0 0 0;
    width: 80%; }
    .about_img img {
      max-height: none; }
  .advt_container {
    min-height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .advt_inf {
    width: 100%;
    padding: 100px 30px 80px 30px;
    margin: 0; }
  .advt_img {
    width: 100%;
    height: 500px;
    margin: 0; }
  .advt_inf_img {
    right: -10%; }
  .advt_inf {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .ctg_box:after {
    top: 40px;
    font-size: 150px; }
  .history_intro_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .history_intro_box > div {
      width: 100%; }
  .history_intro_img {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    height: 500px; }
  .history_about_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .history_about_box > div {
      width: 100%; }
  .his_about_text {
    margin-left: 30%;
    width: 70%; }
  .his_about_img {
    margin-top: 50px;
    margin-right: 0;
    height: 500px; }
  .his_about_text_title {
    top: 20%; }
  .history_list_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .history_list_box > div {
      width: 100%; }
  .his_list_container {
    padding: 10px;
    margin-left: 0; }
  .his_list_img {
    margin-top: 50px;
    margin-left: 0;
    height: 500px; }
  .contactUs_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contactUs_btn {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 0; }
  .product_img {
    width: 100%; }
    .product_img img {
      width: 100%; }
  .masfil_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .masfil_about_text_box {
    margin-left: 0;
    width: 100%; }
  .masfil_about_img {
    margin-top: 50px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .masfil_about_img img {
      max-width: 100%; }
  .result_content {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .product_card {
    width: 40%; }
  .item_title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .item_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .item_img_box {
    width: 100%; }
  .item_inf {
    margin-top: 30px;
    width: 100%; }
  .item_quest_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .item_ques_text {
    text-align: center; }
  .item_ques_btn {
    margin-top: 30px;
    margin-left: 0; }
  .similar_title {
    text-align: center; }
  .news_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .news_img {
    margin-top: 30px;
    height: 250px;
    max-width: none; }
  .contact_inf_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact_inf_conteiner {
    margin: 50px 0;
    width: 100%; }
  .contact_form_sec:after {
    display: none; } }

@media (max-width: 768px) {
  .main_nav_links_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main_nav_links_box > div {
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 50px 0 0 0; }
  .logo {
    text-align: center; }
  .menu_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .menu_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu_list li {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .menu_list li:after {
        content: ""; }
  .submenu_ctlg {
    width: auto; }
    .submenu_ctlg li {
      margin: 30px 0; }
  .submenu_ctlg-active {
    margin-bottom: 30px;
    position: relative;
    height: auto;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
  .search_box {
    margin: 30px 0 20px 0; }
  .header_main {
    height: auto;
    max-height: none;
    padding: 100px 0 60px 0; }
  .banner_inf {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .banner_text {
    text-align: center; }
  .header_banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .banner_img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 80px; }
    .banner_img img {
      max-height: 400px; }
  .about_title {
    text-align: center; }
  .about_btn {
    text-align: center; }
  .ctg_box:after {
    display: none; }
  .ctg_card {
    width: 60%; }
  .cons_form {
    margin-top: 50px; }
    .cons_form form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .cons_form form input {
        margin: 30px auto 0 auto; }
  .step_card {
    margin: 30px 0;
    width: 60%; }
  .stsc_box > div {
    width: 100%; }
  .footer_container > div {
    margin-bottom: 50px;
    width: 90%; }
  .footer_container div {
    text-align: center; }
  .footer_contact > div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer_adres {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer_logo_links .links_list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .days_steps_box {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .product_title {
    text-align: center; }
  .masfil_about_title {
    text-align: center; }
  .product_card {
    width: 60%; }
  .masfil_par_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .masfil_par_box:after {
      display: none; }
  .masfil_par_choise_box form {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .masfil_par_legend {
    margin-top: 30px;
    padding-right: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .antr_news_title {
    text-align: center; }
  .razrab_conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .razrab_conteiner:after {
      display: none; }
  .razrab_cont_img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-bottom: 50px; }
  .razrab_cont_form {
    width: 70%; }
  .contact_form {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 40px;
    padding-right: 40px; } }

@media (max-width: 576px) {
  .ctg_card {
    width: 100%; }
  .step_card {
    width: 100%; }
  .footer_container > div {
    width: 100%;
    text-align: center; }
  .banner_text {
    width: 90%; }
    .banner_text h1 {
      font-size: 35px; }
  .banner_img {
    width: 100%; }
    .banner_img img {
      width: 100%; }
  .about_title h2 {
    font-size: 40px; }
  .about_img {
    width: 100%; }
  .advt_inf_img {
    width: 100%;
    right: 0; }
  .advt_title_box h3 {
    font-size: 32px; }
    .advt_title_box h3 span {
      font-size: 38px; }
  .advt_img div {
    background-position: right; }
  .page_title_text h2 {
    font-size: 45px; }
  .his_about_text_title {
    left: -280px; }
  .days_title h3 {
    font-size: 35px; }
  .contactUs_text {
    text-align: center; }
    .contactUs_text p {
      font-size: 20px; }
  .intro_title h4 {
    font-size: 40px; }
  .product_card {
    width: 90%; }
  .masfil_par_choise_conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .masfil_par_choise_cont {
    margin-top: 30px; }
  .masfil_par_choise_conteiner {
    width: 100%; }
  .masfil_par_choise_cont {
    margin-right: 0;
    margin-left: 0;
    padding: 30px;
    width: 100%; }
  .masfil_par_ch_title {
    text-align: center; }
  .masfil_par_sel_box select {
    width: 100%; }
  .news_title_box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .news_when_box {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px; }
  .news_title_cont {
    margin-left: 0; }
  .news_inf_btn-more {
    text-align: center; }
  .razrab_cont_form {
    width: 100%; }
  .razrab_title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .input_btns_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .inputs_btns_file {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .inputs_btns_send {
    margin-top: 30px;
    margin-left: 0; } }

@media (max-width: 375px) {
  .banner_text h1 {
    font-size: 30px; }
  .banner_img img {
    width: 100%; }
  .about_title h2 {
    font-size: 35px; }
  .advt_title_box h3 {
    font-size: 28px; }
    .advt_title_box h3 span {
      font-size: 32px; }
  .ctg_choise_anlg_form {
    width: 100%; }
    .ctg_choise_anlg_form form {
      width: 100%; }
      .ctg_choise_anlg_form form input[type="text"] {
        width: 100%; }
  .cons_title h6 {
    font-size: 32px; }
  .cons_form form .input_white {
    width: 100%; } }
