@import "variables.scss";
@media (min-width: 1291px) {
    .wrapper {
        // width: 80%;
        margin: 0 auto;
    }
}
@media (max-width: 1290px) {
    .wrapper {
        width: 90%;
        margin: 0 5%;
    }
}