@import "variables.scss";
@media (min-width: 1291px) {
  .wrapper {
    // width: 80%;
    margin: 0 auto;
  }
}

// media 1290px
@media (max-width: 1290px) {
  .wrapper {
    width: 96%;
    margin: 0 2%;
  }

  .about_box {
    &:after {
      right: -18%;
    }
  }
  .about_inf {
    width: 35%;
  }
}

// media 1200px
@media (max-width: 1200px) {
  .banner_img {
    // height: 85%;
    // right: -10%;
  }

  // about page
  .days_steps_container {
    justify-content: space-around;
  }
  .days_steps_box {
    width: 40%;
    margin: 40px 0;
  }
  // about page
}

// media 1060px
@media (max-width: 1060px) {
  .menu_list {
    li {
      margin: 10px 0;
    }
  }

  .banner_img {
    // height: 80%;
  }
  .about_box {
    flex-direction: column-reverse;
    align-items: center;

    &:after {
      right: -30%;
    }
  }
  .about_inf {
    width: 90%;
    margin: 0;
  }
  .about_img {
    margin: 50px 0 0 0;
    width: 80%;
  }
  .main_nav_links_box {
    flex-wrap: wrap;

    > div {
      width: 33%;
      margin: 15px 0;
    }
  }
  .menu_box {
    // flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .stsc_box {
    > div {
      width: 50%;
      align-items: center;
    }
  }
  // .advt_inf_img {
  //   right: -60%;
  // }
  .steps_cards {
    flex-wrap: wrap;
    justify-content: space-evenly;
    // justify-content: center;
  }
  .step_card {
    margin: 30px 0;
    width: 40%;
  }
  .ctg_box {
    &:after {
      top: 30px;
      font-size: 200px;
    }
  }
  .ctg_cards {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .ctg_card {
    margin: 40px 0;
    width: 40%;
  }
  .ctg_choise_box {
    flex-direction: column;
    align-items: center;
  }
  .ctg_choise_anlg {
    width: 100%;
  }
  .ctg_choise_size {
    margin-top: 50px;
    align-items: center;
    width: 100%;
  }
  .cons_form {
    // margin-top: 50px;

    form {
      // flex-direction: column;
      // align-items: center;

      input {
        // margin: 30px auto 0 auto;
      }
    }
  }
  .footer_container {
    flex-wrap: wrap;
    justify-content: space-evenly;

    > div {
      margin-bottom: 50px;
      width: 40%;
    }
  }

  // about page
  .history_about_box {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .history_about_content {
    margin-right: 50px;
    padding: 10px 0;
    width: 45%;
  }
  .his_about_text_title {
    left: -30%;
  }
  .history_list_box {
    margin-top: 70px;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }

  // about page

  //catalog page
  .product_box {
    flex-direction: column-reverse;
    align-items: center;
  }
  .product_inf {
    margin-left: 0;
    width: 100%;
  }
  .product_img {
    margin-left: 0;
  }
  // .product_title {
  // text-align: center;
  // }
  // catalop page
}

// media 920px
@media (max-width: 920px) {
  .banner_img {
    // right: -15%;
  }
  .about_box {
    &:after {
      right: -35%;
    }
  }
  .advt_container {
    min-height: 100px;
    flex-direction: column-reverse;
  }
  .advt_inf {
    width: 100%;
    padding: 100px 30px 80px 30px;
    margin: 0;
  }
  .advt_img {
    width: 100%;
    height: 500px;
    margin: 0;
  }
  .advt_inf {
    align-items: center;
  }
  .ctg_box {
    &:after {
      top: 40px;
      font-size: 150px;
    }
  }

  // about page
  .history_intro_box {
    flex-direction: column-reverse;
    align-items: center;

    > div {
      width: 100%;
    }
  }
  .history_intro_img {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
    height: 500px;
  }
  .history_about_box {
    flex-direction: column;
    align-items: center;

    > div {
      width: 100%;
    }
  }
  .his_about_text {
    margin-left: 30%;
    width: 70%;
  }
  .his_about_img {
    margin-top: 50px;
    margin-right: 0;
    height: 500px;
  }
  .his_about_text_title {
    top: 20%;
  }
  .history_list_box {
    flex-direction: column-reverse;
    align-items: center;

    > div {
      width: 100%;
    }
  }
  .his_list_container {
    padding: 10px;
    margin-left: 0;
  }
  .his_list_img {
    margin-top: 50px;
    margin-left: 0;
    height: 500px;
  }
  .contactUs_box {
    flex-direction: column;
    align-items: center;
  }
  .contactUs_btn {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 0;
  }
  // about page

  // catalog page
  .product_img {
    img {
      width: 100%;
    }
  }
  // catalog page

  // masfil page
  .masfil_box {
    // justify-content: center;
    // flex-direction: column-reverse;
  }
  .masfil_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .masfil_about_text_box {
    margin-left: 0;
    width: 100%;
  }
  .masfil_about_img {
    margin-top: 50px;
    width: 100%;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }
  .result_content {
    justify-content: space-evenly;
  }
  .product_card {
    width: 40%;
  }
  // masfil page

  // item page
  .item_title {
    justify-content: center;
  }
  .item_container {
    flex-direction: column;
    align-items: center;
  }
  .item_img_box {
    width: 100%;
  }
  .item_inf {
    margin-top: 30px;
    width: 100%;
  }
  .item_quest_box {
    flex-direction: column;
    align-items: center;
  }
  .item_ques_text {
    text-align: center;
  }
  .item_ques_btn {
    margin-top: 30px;
    margin-left: 0;
  }
  .similar_title {
    text-align: center;
  }
  // item page

  // news page
  .news_container {
    flex-direction: column;
    align-items: center;
  }
  .news_img {
    margin-top: 30px;
    height: 250px;
    max-width: none;
  }
  // news page

  // contact page
  .contact_inf_box {
    flex-direction: column;
    align-items: center;
  }
  .contact_inf_conteiner {
    margin: 50px 0;
    width: 100%;
  }
  // contact page
}

@media (max-width: 768px) {
  .main_nav_links_box {
    // flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    > div {
      width: 100%;
      justify-content: center;
      margin: 50px 0 0 0;
    }
  }
  .logo {
    text-align: center;
  }
  .menu_box {
    flex-direction: column;
    // height: auto;
    // padding: 10px 0;
  }
  .menu_list {
    flex-direction: column;
    align-items: center;

    li {
      &:after {
        content: "";
      }
    }
  }
  .submenu_ctlg {
    display: none;
  }
  .search_box {
    margin: 30px 0 20px 0;
  }
  .header_main {
    height: auto;
    max-height: none;
    padding: 100px 0 60px 0;
  }
  .banner_inf {
    align-items: center;
  }
  .banner_text {
    text-align: center;
  }
  .header_banner {
    flex-direction: column;
    align-items: center;
  }

  .banner_img {
    align-self: center;
    margin-right: 0;
    margin-top: 80px;

    img {
      max-height: 400px;
    }
  }
  .about_title {
    text-align: center;
  }
  .about_box {
    &:after {
      right: -40%;
    }
  }
  .about_btn {
    text-align: center;
  }

  .ctg_box {
    &:after {
      top: 80px;
      font-size: 100px;
    }
  }
  .ctg_card {
    // margin: 40px 0;
    width: 60%;
  }

  .cons_form {
    margin-top: 50px;

    form {
      flex-direction: column;
      align-items: center;

      input {
        margin: 30px auto 0 auto;
      }
    }
  }

  // .steps_cards {
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  // justify-content: center;
  // }
  .step_card {
    margin: 30px 0;
    width: 60%;
  }

  .stsc_box {
    > div {
      width: 100%;
    }
  }

  .footer_container {
    > div {
      margin-bottom: 50px;
      width: 90%;
    }

    div {
      text-align: center;
    }
  }
  .footer_contact {
    > div {
      justify-content: center;
    }
  }
  .footer_adres {
    justify-content: center;
  }
  .footer_logo_links {
    .links_list {
      justify-content: center;
    }
  }

  // about page
  .days_steps_box {
    width: 100%;
    justify-content: center;
  }

  .his_about_text_title {
    left: -45%;
    // top: 20%;
  }
  // abput page

  //catalog page
  .product_title {
    text-align: center;
  }
  // catalop page

  // masfil page
  .masfil_about_title {
    text-align: center;
  }
  .product_card {
    width: 60%;
  }
  .masfil_par_box {
    flex-direction: column;
  }
  .masfil_par_choise_box {
    form {
      align-items: center;
    }
  }
  .masfil_par_legend {
    margin-top: 30px;
    padding-right: 0;
    align-items: center;
  }
  // masfil page

  // news-page page
  .antr_news_title {
    text-align: center;
  }
  // news-page page

  // razrab page
  .razrab_conteiner {
    flex-direction: column;
    align-items: center;
  }
  .razrab_cont_img {
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
  }
  .razrab_cont_form {
    width: 70%;
  }
  // razrap page

  // contact page
  .contact_form {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 40px;
    padding-right: 40px;
  }
  // contact page
}

@media (max-width: 576px) {
  .ctg_card {
    width: 100%;
  }
  .step_card {
    width: 100%;
  }
  .footer_container {
    > div {
      width: 100%;
      text-align: center;
    }
  }

  .banner_text {
    width: 90%;

    h1 {
      font-size: 35px;
    }
  }
  .about_title {
    h2 {
      font-size: 40px;
    }
  }
  .about_box {
    &:after {
      right: -65%;
    }
  }
  .advt_title_box {
    h3 {
      font-size: 32px;

      span {
        font-size: 38px;
      }
    }
  }
  .advt_inf_img {
    right: -80%;
  }
  .advt_img div {
    background-position: right;
  }

  // about page
  .page_title_text {
    h2 {
      font-size: 45px;
    }
  }
  .his_about_text_title {
    left: -65%;
  }
  .days_title {
    h3 {
      font-size: 35px;
    }
  }
  .contactUs_text {
    text-align: center;

    p {
      font-size: 20px;
    }
  }
  .intro_title {
    h4 {
      font-size: 40px;
    }
  }
  // about page

  // masfil page
  .product_card {
    width: 90%;
  }
  .masfil_par_choise_conteiner {
    flex-direction: column;
    align-items: center;
  }
  .masfil_par_choise_cont {
    margin-top: 30px;
  }
  .masfil_par_choise_conteiner {
    width: 100%;
  }
  .masfil_par_choise_cont {
    margin-right: 0;
    margin-left: 0;
    padding: 30px;
    width: 100%;
  }
  .masfil_par_ch_title {
    text-align: center;
  }
  .masfil_par_sel_box {
    select {
      width: 100%;
    }
  }
  // masfil page

  // news page
  .news_title_box {
    align-items: center;
    flex-direction: column;
  }
  .news_when_box {
    width: fit-content;
    margin-bottom: 30px;
  }
  .news_title_cont {
    margin-left: 0;
  }
  .news_inf_btn-more {
    text-align: center;
  }
  .news_title_text {
    // text-align: center;
  }
  // news page

  // razrap page
  .razrab_cont_form {
    width: 100%;
  }
  .razrab_title {
    justify-content: center;
  }
  .input_btns_box {
    flex-direction: column;
    align-items: center;
  }
  .inputs_btns_file {
    width: 100%;
    align-items: center;
  }
  .inputs_btns_send {
    margin-top: 30px;
    margin-left: 0;
  }
  // razrap page
}

@media (max-width: 375px) {
  .banner_text {
    h1 {
      font-size: 30px;
    }
  }
  .banner_img {
    img {
      width: 100%;
    }
  }
  .about_title {
    h2 {
      font-size: 35px;
    }
  }
  .about_box {
    &:after {
      right: -85%;
    }
  }
  .advt_title_box {
    h3 {
      font-size: 28px;

      span {
        font-size: 32px;
      }
    }
  }
  .advt_inf_img {
    right: -120%;
  }
  .ctg_choise_anlg_form {
    width: 100%;

    form {
      width: 100%;

      input[type="text"] {
        width: 100%;
      }
    }
  }
  .cons_title {
    h6 {
      font-size: 32px;
    }
  }
  .cons_form {

    form {

      .input_white {
        width: 100%;
      }
    }
  }

  // about page
  .his_about_text_title {
    left: -90%;
  }
  // about page
}
