// color text
$color_blue: #16226e;
$text-orange: #ff9600;
$text-black: #161616;
$text-grey: #9495aa;
$text-light: #efeff5;
$text-dark: #dfe0ea;
$avaibl_text: #3dab27;

// bg and stroke color
$bg_blue: #060c44;
$bg_light: #f7f7fa;
$bg_grey: #dfe0ea;
