.start-screen {
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: flex;
  height: 100vh;
  width: 100%;
}
.start-screen_bg-pink {
  background: #f0e2d7;
}
.start-screen__menu {
  position: absolute;
  margin: 16px 5% 0 5%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.start-screen__half {
  width: 50%;
  height: 100%;
}
.start-screen__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.start-screen_text-grey {
  color: #9e9da3;
}
