/*#region */
/*#endregion*/
/*#region texts*/
/*#endregion texts*/
/*#region backgrounds*/
/*#endregion backgrounds*/
/*#region borders*/
/*#endregion borders*/
/*#region buttons*/
/*#endregion buttons*/
/*#region shadows*/
/*#endregion shadows*/
@media (min-width: 1440px) {
  .portfolio__container-boxes {
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 1439px) {
  .portfolio__side-text {
    min-width: auto;
    max-width: none; } }

@media (min-width: 1300px) {
  .s-sec__wrapper {
    margin: 0 auto; }
  .portfolio-design__wrapper-top {
    margin-left: auto;
    margin-right: auto; } }

@media (max-height: 899px) {
  .first-cont__title {
    margin-top: 70px; }
  .contact-border-cont .border-cont__advantages {
    margin-top: 80px; } }
