@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Conthrax";
  src: url("../fonts/ConthraxSemiBold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "PeaceSans";
  src: url("../fonts/PeaceSans.otf");
  font-weight: normal;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Gilroy"; }

.s-sec {
  width: 100%;
  height: 100vh;
  max-height: 900px;
  position: relative; }

.s-block {
  width: 100%;
  position: relative; }

.s-sec_bg-dark {
  background-color: #121212; }

.s-sec_bg-light {
  background: #ffffff; }

.s-sec__wrapper {
  margin: 0 4%;
  max-width: 1440px;
  height: 100%; }

.s-sec__wrapper_first-bg {
  background-image: url("../img/myan-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.conteiner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.border-block {
  position: absolute;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 880px;
  z-index: 2; }

.border-block_borders {
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid; }

.border-block__shadow {
  height: 100%;
  width: 100%;
  max-width: 310px;
  background: none; }

.block-block__shadow_dark {
  -webkit-box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.75); }

.border-block_border-dark {
  border-color: #141414; }

.border-block_border-grey {
  border-color: #afafaf; }

.border-block__grey-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  max-width: 440px;
  border-left-width: 1px;
  border-left-style: solid; }
  .border-block__grey-block:last-child {
    border-right-width: 1px;
    border-right-style: solid; }

.border-cont {
  position: relative;
  z-index: 4;
  margin: 130px auto 0 auto;
  width: 100%;
  max-width: 880px; }

.border-cont__subtitle {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-left: -55px;
  margin-bottom: 40px; }

.border-cont__subtitle:before {
  content: "";
  position: absolute;
  top: 11px;
  left: -100px;
  width: 90px;
  height: 2px;
  background: #000; }

.border-cont__title {
  width: 80%;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px; }

.border-cont__title-main {
  margin-top: -20px;
  text-align: center;
  font-size: 180px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px; }

.border-cont__title-main_grey {
  color: #dbdbdb; }

.border-cont__title-main_ml-tech {
  margin-left: -150px;
  letter-spacing: 0; }

.border-cont__parag {
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px; }

.wrapper-top {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.wrapper-top_mrg {
  margin-top: 40px; }

.logo__link {
  height: 75px; }

.menu-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-cont__title {
  margin-right: 35px;
  font-size: 18px;
  text-transform: uppercase; }

.menu-btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.menu-btn-cont__bar-line {
  display: block;
  height: 2px;
  width: 40px;
  margin-bottom: 7px; }
  .menu-btn-cont__bar-line:last-child {
    width: 35px; }

.bar-line_light {
  background: #fff; }

.bar-line_dark {
  background: #000; }

.first-cont__main {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%; }

.first-cont__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.first-cont-title {
  position: relative;
  margin-left: 95px;
  width: 50%; }

.first-cont__title {
  font-size: 76px;
  line-height: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px; }

.main-subtitle {
  position: absolute;
  right: -70px;
  bottom: 20px; }

.main-subtitle-linecont {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.main-subtitle__line {
  height: 1px;
  width: 200px;
  background: #f1f1f1; }

.main-subtitle__text {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.wrapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 83px; }

.wrapper-bottom_mr8 {
  margin-bottom: 80px; }

.wrapper-bottom-logo {
  position: relative; }

.bottom-logo-text {
  margin-top: 10px;
  width: 20%; }

.bottom-logo__text {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px; }

.wrapper-bottom-scroll {
  position: absolute;
  left: 50%;
  right: 50%;
  z-index: 5; }

.bottom-scroll__scroll-line {
  height: 76px;
  background: #fff;
  width: 2px; }

.wrapper-bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.bottom__link {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.elaboration {
  overflow: hidden; }

.elaboration-text {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3; }

.elaboration__text {
  font-size: 125px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px; }

.elaboration-scroll {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.elaboration__scroll-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px; }
  .elaboration__scroll-link:before {
    content: "V";
    margin-top: 5px;
    margin-right: 10px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: "Conthrax";
    font-weight: bold;
    font-size: 15px; }

.border-cont__advantages {
  position: relative;
  z-index: 10;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.advantages-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%; }

.advantages-text__number {
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: "PeaceSans";
  font-size: 20px; }
  .advantages-text__number:before {
    content: "";
    position: absolute;
    top: 7px;
    left: -40px;
    height: 2px;
    width: 20px;
    background: #000;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.advantages-text__parag {
  margin-top: 15px;
  margin-left: 30px;
  padding-right: 40px;
  font-weight: 300;
  line-height: 20px;
  font-size: 17px; }

.border-block__programms {
  margin-top: 100px;
  width: 100%; }

.design-wrapper-bottom {
  position: absolute;
  bottom: 0;
  width: 100%; }

.programms__title {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold; }

.programms__inst-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.programms__instruments {
  padding: 30px 0;
  width: 50%;
  border-top: 1px solid #afafaf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.instriments__img {
  height: 50px;
  width: 50px;
  opacity: 0.5;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }

.instriments__img:hover {
  cursor: pointer;
  opacity: 1; }

.instr__img-python {
  -o-object-fit: fill;
  object-fit: fill;
  width: 130px; }

.request {
  position: relative; }

.request-head {
  position: relative;
  width: 100%; }

.request__head {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.request-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.request__half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 50%; }

.request__half-text {
  padding-bottom: 100px;
  position: relative;
  z-index: 2;
  margin-left: 50px;
  width: 50%; }

.request__title {
  margin-top: 100px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px; }

.request__parag {
  margin-top: 60px;
  font-size: 18px;
  line-height: 20px; }

.request__half_bg-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1; }
  .request__half_bg-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.request__link {
  position: absolute;
  bottom: 80px;
  padding: 10px 60px;
  color: #fff;
  border: 6px solid #fff;
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  background: #121212; }

.request-body {
  position: relative; }

.request__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }

.request-cont-bord {
  margin-top: 100px; }
  .request-cont-bord .border-cont__parag {
    padding-bottom: 60px; }

.wrapper-top_partner {
  position: absolute;
  width: 100%; }

.partner-team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.partner-cont__half {
  width: 50%; }

.team-card-box {
  padding: 0 50px 0 40px; }

.team-card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team-card__img img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 130px;
  width: 130px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.team-card-text {
  margin-left: 30px; }

.team-card__title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px; }

.team-card__subtitle {
  margin-top: 15px;
  font-weight: 300;
  font-size: 16px; }

.team-card-body {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team-chrt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.chrt-box {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.chrt__title-text {
  font-size: 18px;
  font-weight: bold; }

.chrt-scors {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.score-line {
  margin: 0 2px;
  display: block;
  width: 4px;
  height: 12px;
  border-radius: 4px;
  background: #121212; }

.team-chrt-link {
  margin-left: 30px; }

.team-chrt__link {
  padding: 10px 10px;
  display: block;
  width: 100%;
  color: #fff;
  border: 1px solid #afafaf;
  font-size: 14px;
  font-family: "Gilroy";
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: #121212; }

.partner-bor-sub {
  position: absolute;
  top: -60px;
  left: 0;
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase; }

.partner-bor-sub::before {
  top: 16px; }

.partners-imgs-box {
  position: relative;
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf; }

.partners-img {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 76px;
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.partners-imgs-box_second {
  border-top: none;
  margin-top: 0; }

.partners-img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.contact {
  position: relative; }

.contact-head {
  width: 100%; }

.contact-head-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 280px; }

.contact-head__text {
  margin: 0 25%;
  font-weight: 300;
  font-size: 20px;
  line-height: 40px; }
  .contact-head__text span {
    font-weight: bold; }

.contact-body {
  width: 100%; }

.contact-body-title {
  margin: 0 auto;
  width: 100%;
  max-width: 880px; }

.contact-body__title {
  margin-left: 60px;
  margin-top: 90px;
  font-weight: bold;
  font-size: 125px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.contact-b-link {
  margin: 0 20px; }

.contact-shadow-block {
  max-width: 580px;
  border: none; }

.contact-border-block {
  border-left: none; }

.contact-body__main {
  position: relative;
  z-index: 4;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contact__tel {
  min-width: 220px;
  padding-top: 70px; }

.contact__tel-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px; }

.contact-body__text-parg {
  margin-top: 70px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px; }

.contact-body__ipcard {
  margin-left: 50px;
  max-width: 400px; }

.ipcard__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px; }

.ipcard__img {
  margin-right: 30px; }

.ipcard-check__subtitle {
  font-size: 12px; }

.ipcard__body {
  margin-top: 20px; }

.ipcard__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px; }

.ipcard__subtitle {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px; }

.contact-wr-b {
  margin-top: 20px;
  z-index: 4;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-wr-b__text-box {
  text-align: center; }

.contact-wr-b__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px; }

.contact-wr-b__subtitle {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }
