@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@font-face {
  font-family: "Peace Sansf";
  src: url("../fonts/Peace Sans.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-weight: bold;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

.s-sec {
  width: 100%;
  height: 100vh;
  max-height: 900px; }

.s-sec_bg-dark {
  background-color: #121212; }

.s-sec__wrapper {
  margin: 0 4%;
  max-width: 1340px;
  height: 100%; }

.s-sec__wrapper_first-bg {
  background-image: url("../img/myan-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.conteiner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.border-block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center; }

.border-block {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 870px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  z-index: 2; }

.border-block__shadow {
  width: 100%;
  max-width: 310px; }

.block-block__shadow_dark {
  -webkit-box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.75); }

.border-block_abs {
  position: absolute; }

.border-block_border-dark {
  border-color: #141414; }

.wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.wrapper-top_mrg {
  margin-top: 40px; }

.logo__link {
  height: 75px; }

.menu-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-cont__title {
  margin-right: 35px;
  font-size: 18px;
  font-family: "Gilroy";
  text-transform: uppercase; }

.menu-cont__title_text-white {
  color: #fff; }

.menu-btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.menu-btn-cont__bar-line {
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-bottom: 7px; }
  .menu-btn-cont__bar-line:last-child {
    width: 35px; }

.cont-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%; }

.first-cont__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.first-cont__title {
  position: relative;
  margin-left: 95px;
  width: 50%; }

.first-cont__title-text {
  font-size: 76px;
  line-height: 100px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px; }

.main-subtitle {
  position: absolute;
  right: -70px;
  bottom: 20px; }

.main-subtitle-linecont {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.main-subtitle__line {
  height: 1px;
  width: 200px;
  background: #f1f1f1; }

.main-subtitle__text {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.wrapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 83px; }

.wrapper-bottom_falg-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.wrapper-bottom_mr8 {
  margin-bottom: 80px; }

.wrapper-bottom-logo {
  position: relative; }

.bottom-logo-text {
  margin-top: 10px;
  width: 20%; }

.bottom-logo__text {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px; }

.wrapper-bottom-scroll {
  position: absolute;
  left: 50%;
  right: 50%;
  z-index: 5; }

.bottom-scroll__scroll-line {
  height: 76px;
  background: #fff;
  width: 2px; }

.wrapper-bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.bottom__link {
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.elaboration {
  overflow: hidden; }

.elaboration__text-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3; }

.elaboration__text {
  font-size: 125px;
  font-family: "Gilroy";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.elaboration-scroll {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.elaboration__scroll-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 10px;
  font-family: "Gilroy";
  font-weight: bold;
  letter-spacing: 1.5px; }
  .elaboration__scroll-link:before {
    content: "<";
    margin-top: 2px;
    margin-right: 10px;
    font-size: 15px; }

.text-white {
  color: #fff; }

@media (max-width: 1341px) {
  .s-sec__wrapper {
    margin: 0 auto; } }
