/*#region Clear default styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*#endregion Clear default styles*/
/*#region Imports*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.otf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Conthrax";
  src: url("../fonts/ConthraxSemiBold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "PeaceSans";
  src: url("../fonts/PeaceSans.otf");
  font-weight: normal;
  font-style: normal; }

/*#region backgrounds*/
/*#endregion backgrounds*/
/*#region borders*/
/*#endregion borders*/
/*#region texts*/
/*#endregion texts*/
/*#region buttons*/
/*#endregion buttons*/
/*#region shadows*/
/*#endregion shadows*/
/*#region Request Animations */
@-webkit-keyframes closeContactLeftBar {
  10% {
    left: 3px;
    top: 5px; }
  30% {
    left: 6px;
    top: 2px; }
  50% {
    left: 16px;
    top: -6px; }
  70% {
    background: transparent;
    left: -16px;
    top: 30px; }
  80% {
    background: #ffffff; }
  100% {
    left: 0;
    top: 8px; } }
@keyframes closeContactLeftBar {
  10% {
    left: 3px;
    top: 5px; }
  30% {
    left: 6px;
    top: 2px; }
  50% {
    left: 16px;
    top: -6px; }
  70% {
    background: transparent;
    left: -16px;
    top: 30px; }
  80% {
    background: #ffffff; }
  100% {
    left: 0;
    top: 8px; } }

@-webkit-keyframes closeContactRightBar {
  10% {
    left: -3px;
    top: 5px; }
  30% {
    left: -6px;
    top: 2px; }
  50% {
    left: -16px;
    top: -6px; }
  70% {
    background: transparent;
    left: 16px;
    top: 30px; }
  80% {
    background: #ffffff; }
  100% {
    left: 0;
    top: 8px; } }

@keyframes closeContactRightBar {
  10% {
    left: -3px;
    top: 5px; }
  30% {
    left: -6px;
    top: 2px; }
  50% {
    left: -16px;
    top: -6px; }
  70% {
    background: transparent;
    left: 16px;
    top: 30px; }
  80% {
    background: #ffffff; }
  100% {
    left: 0;
    top: 8px; } }

/*#endregion Request Animations*/
@-webkit-keyframes menuShow {
  from {
    left: 100%; }
  to {
    left: 0; } }
@keyframes menuShow {
  from {
    left: 100%; }
  to {
    left: 0; } }

@-webkit-keyframes menuHide {
  from {
    left: 0; }
  to {
    left: 100%; } }

@keyframes menuHide {
  from {
    left: 0; }
  to {
    left: 100%; } }

/*#endregion Imports*/
html {
  scroll-behavior: smooth; }

body {
  font-family: "Gilroy"; }

/*#region s-blocks*/
.s-sec {
  width: 100%;
  height: 100vh;
  max-height: 900px;
  position: relative; }

.s-block {
  width: 100%;
  position: relative; }

.s-sec_bg-dark {
  background-color: #191919; }

.s-sec_bg-light {
  background: #ffffff; }

.first {
  z-index: 4; }

.first_bg-first-dark {
  background: #121212; }

.s-sec__wrapper {
  position: relative;
  width: 100%;
  max-width: 1300px;
  height: 100%; }

.s-sec__wrapper_no-height {
  height: auto;
  max-height: none; }

.s-sec__wrapper_no-width {
  max-width: none; }

.s-sec__wrapper_first-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .s-sec__wrapper_first-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center; }

.conteiner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.cont-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%; }

/*#endregion s-blocks*/
/*#region Borders blocks */
.border-block {
  position: absolute;
  margin: 0 auto;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 860px;
  pointer-events: none; }

.border-block_borders {
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid; }

.border-block__shadow {
  height: 100%;
  width: 100%;
  max-width: 300px; }

.border-block__shadow_main-black {
  -webkit-box-shadow: 0px 0px 32px 12px #000306;
  box-shadow: 0px 0px 32px 12px #000306; }

.border-block__elaboration {
  z-index: 3; }

.border-block__shadow-elaboration {
  min-height: 100vh;
  height: calc(100% + 5px);
  background: #191919; }

.border-block__shadow-request {
  -webkit-box-shadow: 0px 0px 23px 23px rgba(6, 8, 9, 0.73);
  box-shadow: 0px 0px 23px 23px rgba(6, 8, 9, 0.73); }

.border-block__shadow-contact {
  max-width: 580px;
  border: none; }

.border-block_border-black {
  border-color: #000000; }

.border-block_border-dark {
  border-color: #111111; }

.border-block_border-contact-page-black {
  border-color: #111111; }

.border-block_border-menu-black {
  border-color: #0c0c0c; }

.border-block_border-black-dark {
  border-color: #191919; }

.border-block_border-grey {
  border-color: #afafaf; }

.border-block__grey-block {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  max-width: 430px;
  border-left-width: 1px;
  border-left-style: solid; }
  .border-block__grey-block:last-child {
    border-right-width: 1px;
    border-right-style: solid; }

.border-block__menu-block {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 50%;
  max-width: 360px;
  border-left-width: 1px;
  border-left-style: solid; }
  .border-block__menu-block:last-child {
    border-right-width: 1px;
    border-right-style: solid; }

.border-cont {
  position: relative;
  margin: 135px auto 0 auto;
  width: 100%;
  max-width: 860px; }

.border-cont__suptitle {
  margin-bottom: 30px;
  margin-left: -50px;
  position: relative;
  z-index: 4;
  font-size: 22.05px;
  font-weight: bold;
  letter-spacing: 2px; }
  .border-cont__suptitle:before {
    content: "";
    position: absolute;
    top: 11px;
    left: -120px;
    width: 90px;
    height: 2px;
    background: #000000; }

.border-cont__title {
  position: relative;
  z-index: 4;
  width: 100%;
  font-size: 37.41px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 45px; }

.border-cont__title_ls-design {
  letter-spacing: -1.2px; }

.border-cont__title_ls-technology {
  letter-spacing: -1.5px;
  font-size: 35.32px;
  line-height: 40px; }

.border-cont__title-main {
  margin-top: -20px;
  text-align: center;
  font-size: 192.21px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px; }

.border-cont__title-main_grey {
  color: #e2e2e2; }

.border-cont__title-main_technology {
  margin-left: -100px;
  margin-top: -5px;
  margin-bottom: 35px;
  font-size: 150.25px;
  letter-spacing: 10px; }

.border-cont__parag {
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px; }

.border-block_no-borders {
  border: none; }
  .border-block_no-borders:last-of-type {
    border: none; }

/*#endregion*/
/*#region Wrapper Top */
.wrapper-top {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.wrapper-top_mrg {
  margin-top: 60px; }

.wrapper-top_mrg-sml {
  margin-top: 40px; }

.logo__link {
  height: 75px; }

/*#endregion Wrapper Top*/
/*#region Menu*/
.menu {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 100%; }

.menu_active {
  left: 0;
  -webkit-animation: 1s linear menuShow;
  animation: 1s linear menuShow; }

.menu_disabled {
  left: 100%;
  -webkit-animation: 1s linear menuHide;
  animation: 1s linear menuHide; }

.menu-cont {
  margin-top: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu-cont:hover {
    cursor: pointer; }

.menu-cont__title {
  margin-right: 15px;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase; }

.menu-btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.menu-btn-cont__bar-line {
  display: block;
  height: 1px;
  width: 28px;
  margin-bottom: 6px;
  opacity: 0.7; }
  .menu-btn-cont__bar-line:last-child {
    width: 20px;
    margin-bottom: 0px; }

.bar-line_bg-white {
  background: #ffffff; }

.bar-line_dark {
  background: #000000; }

/*#endregion Menu*/
/*#region First*/
.first-cont__main {
  height: 100%;
  width: 100%; }

.first-cont__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.first-cont-title {
  position: relative;
  margin-left: 50px;
  max-width: 720px;
  width: 100%; }

.first-cont__title {
  font-size: 83.56px;
  line-height: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px; }

.main-subtitle {
  position: absolute;
  right: 0px;
  bottom: 25px; }

.main-subtitle-linecont {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.main-subtitle__line {
  height: 1px;
  width: 240px;
  background: #ffffff; }

.main-subtitle__text {
  font-size: 15.28px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase; }

/*#endregion First*/
/*#region Wrapper bottom*/
.wrapper-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  z-index: 5; }

.wrapper-bottom_mrg-5 {
  margin-bottom: 50px; }

.wrapper-bottom_mrg-7 {
  margin-bottom: 70px; }

.wrapper-bottom_mrg-9 {
  margin-bottom: 90px; }

.wrapper-bottom_ps-t-300 {
  top: 300px; }

.wrapper-bottom_ps-t-320 {
  top: 320px; }

.wrapper-bottom_ps-t-690 {
  top: 690px; }

.wrapper-bottom_ps-t-675 {
  top: 675px; }

.wrapper-bottom_p-abs {
  position: absolute;
  bottom: 0;
  width: 100%; }

.wrapper-bottom_illustration {
  bottom: auto;
  z-index: 6;
  pointer-events: none; }

.wrapper-bottom-logo {
  position: relative; }

.bottom-logo-text {
  width: 120px; }

.bottom-logo__text {
  font-size: 15.86px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px; }

.wrapper-bottom-scroll {
  position: absolute;
  left: 50%;
  right: 50%;
  z-index: 5; }

.bottom-scroll__scroll-line {
  height: 75px;
  display: block;
  width: 3px;
  background: #ffffff; }
  .bottom-scroll__scroll-line:hover {
    cursor: pointer; }

.wrapper-bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 5px; }

.bottom__link {
  margin-right: 45px;
  font-size: 15.86px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .bottom__link:last-child {
    margin-right: 0; }

/*#endregion Wrapper bottom*/
/*#region Elaboration*/
.elaboration-text {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%; }

.elaboration__text {
  font-size: 130.68px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px; }

.elaboration-scroll {
  margin-bottom: 20px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.elaboration__scroll-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px; }
  .elaboration__scroll-link:before {
    content: "V";
    margin-top: 5px;
    margin-right: 10px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: "Conthrax";
    font-weight: bold;
    font-size: 15px; }

/*#endregion Elaboration*/
/*#region Design*/
.border-cont__advantages {
  position: relative;
  z-index: 10;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.advantages-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%; }

.advantages-text__number {
  margin-left: -4px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: "PeaceSans";
  letter-spacing: 1px;
  font-size: 20.83px; }
  .advantages-text__number:before {
    content: "";
    position: absolute;
    top: 9px;
    left: -40px;
    height: 1px;
    width: 20px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #000000; }

.advantages-text__parag {
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 120px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 16px; }

.border-block__programms {
  position: relative;
  z-index: 6;
  margin-top: 95px;
  width: 100%; }

.programms__title {
  margin-bottom: 40px;
  font-size: 20.83px;
  letter-spacing: 1px;
  font-weight: bold; }

.programms__instruments-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.programms__instruments {
  padding: 35px 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border-top: 1px solid #afafaf; }

.programms__instruments_mrg-b-6 {
  margin-bottom: 60px; }

.instruments__img {
  opacity: 0.5;
  -o-object-fit: none;
  object-fit: none;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }
  .instruments__img:hover {
    cursor: pointer;
    opacity: 1; }

/*#endregion Design*/
/*#region Technology*/
/*#endregion Technology*/
/*#region Request*/
.request {
  position: relative;
  overflow: hidden; }

.request-head {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 620px; }

.request__head {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.request-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.request__half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%; }

.request__half-text {
  position: relative;
  z-index: 2;
  padding-bottom: 30px;
  margin-left: 45px;
  width: 100%;
  max-width: 365px; }

.request__title {
  margin-top: 105px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 82px;
  font-size: 70.72px; }

.request__parag {
  margin-top: 50px;
  line-height: 20px;
  letter-spacing: 1.2px;
  font-size: 18px; }

.request__half_bg-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1; }
  .request__half_bg-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.request__link {
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: 100%;
  max-width: 260px;
  max-height: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border: 0.5px solid #ffffff;
  color: #ffffff;
  background: #191919;
  font-size: 21.91px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: all; }
  .request__link:hover {
    color: #000000;
    background: #ffffff; }

.request-body {
  position: relative; }

.request__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }

.request-cont-bord {
  margin-top: 95px;
  z-index: 6; }
  .request-cont-bord .border-cont__title {
    margin-left: -1.5px;
    text-transform: none;
    letter-spacing: -2px;
    font-size: 50px; }
  .request-cont-bord .border-cont__parag {
    margin-top: 15px;
    padding-right: 50px;
    padding-bottom: 30px;
    letter-spacing: 1.2px;
    line-height: 24px;
    font-size: 20.83px; }

/*#endregion Request*/
/*#region Partners*/
.wrapper-top_partners {
  position: absolute;
  width: 100%; }

.border-content-partners {
  margin-top: 70px;
  z-index: 6; }

.partners-team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.partners-cont__half {
  position: relative;
  z-index: 5;
  width: 50%; }

.team-card-box {
  padding: 10px 65px 0 40px; }

.team-card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.team-card__img img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 126px;
  width: 126px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: 0.21px solid #6e6f6f; }

.team-card-text {
  margin-top: 25px;
  margin-left: 30px; }

.team-card__title {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -1px;
  font-size: 24.02px; }

.team-card__subtitle {
  margin-top: 12px;
  font-weight: 300;
  font-size: 16.67px; }

.team-card-body {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.team-chrt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.chrt-box {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.chrt__title-text {
  font-size: 16.67px;
  font-weight: bold; }

.chrt-scors {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.score-line {
  margin: 0 0.5px;
  display: block;
  width: 3px;
  height: 9px;
  background: #000000; }

.team-chrt__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-width: 135px;
  min-height: 35px;
  color: #ffffff;
  background: #191919;
  border: 0.21px solid #6e6f6f;
  font-size: 12.5px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase; }
  .team-chrt__link:hover {
    cursor: pointer; }

.team-chrt__link_mrg-t-5 {
  margin-top: 5px; }

.partner-bor-sub {
  position: absolute;
  top: -55px;
  left: 0;
  margin-left: -1px;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 37.5px; }
  .partner-bor-sub:before {
    top: 16px;
    left: -135px; }

.partners-imgs-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 145px;
  min-height: 240px;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf; }

.partners-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .partners-img img {
    -o-object-fit: none;
    object-fit: none; }
  .partners-img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer; }

.partners-imgs-box_second {
  margin-top: 0;
  border-top: none; }

/*#endregion Partners*/
/*#region Contact*/
.contact {
  position: relative; }

.contact-head {
  width: 100%; }

.contact-head-text {
  margin: 0 auto;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 140px;
  max-width: 860px; }

.contact-head__text {
  max-width: 340px;
  font-weight: 300;
  font-size: 15.35px; }
  .contact-head__text span {
    font-weight: bold; }

.contact-body {
  width: 100%;
  overflow: hidden; }

.contact-body-title {
  margin: 0 auto;
  width: 100%;
  max-width: 860px; }

.contact-body__title {
  margin-left: 60px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 115.33px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.contact-body__main {
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.contact-body__main_mrg-t-7 {
  margin-top: 70px; }

.contact__tel {
  width: 100%;
  max-width: 230px; }

.contact__tel-text {
  font-size: 20.83px;
  font-weight: bold;
  line-height: 25px; }

.contact-body__text {
  margin-left: -190px; }

.contact-body__text-parg {
  font-weight: 300;
  font-size: 20.08px;
  line-height: 22px; }

.contact-body__ipcard {
  margin-right: 50px;
  max-width: 360px; }

.ipcard__head {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.ipcard__img {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .ipcard__img:last-child {
    margin-right: 0; }

.ipcard-check__subtitle {
  font-size: 12px; }

.ipcard__title {
  font-size: 20.76px;
  font-weight: bold;
  line-height: 25px; }

.ipcard__subtitle {
  margin-top: 20px;
  font-size: 16.67px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1px; }

.contact-wr-b {
  margin-top: 50px;
  margin-bottom: 30px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.contact-wr-b__text-box {
  position: absolute;
  left: 45%;
  right: 45%;
  min-width: 150px;
  text-align: center; }

.contact-wr-b__title {
  font-size: 12.8px;
  font-weight: bold;
  line-height: 15px; }

.contact-wr-b__subtitle {
  margin-top: 10px;
  font-size: 13.96px;
  font-weight: 300; }

.contact-wr-b_direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/*#endregion Contact*/
/*#region Menu*/
.menu-content {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.menu__text {
  margin-left: 50px;
  font-size: 240px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase; }

.menu__nav {
  margin-top: 20px;
  margin-left: 95px; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.menu__item {
  margin-bottom: 22px; }

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase; }

.menu__link-number {
  margin-top: 10px;
  margin-right: 30px;
  font-size: 15px;
  font-weight: bold; }

/*#endregion Menu*/
/*#region Contact Page*/
.contact-border-cont {
  margin-top: 0;
  height: 100%; }

.contact-border-cont {
  margin-left: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .contact-border-cont .border-cont__advantages {
    margin-top: 90px; }
  .contact-border-cont .border-cont__title {
    margin-top: -50px;
    margin-bottom: 30px;
    font-size: 141.17px;
    letter-spacing: 13px; }
  .contact-border-cont .contact-body__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 360px; }
  .contact-border-cont .contact-body__ipcard {
    margin-right: 0; }
  .contact-border-cont .ipcard__subtitle {
    margin-top: 10px; }
  .contact-border-cont .ipcard__body {
    margin-top: 0; }
  .contact-border-cont .advantages-text {
    margin-left: 240px; }
  .contact-border-cont .contact__tel {
    padding-top: 20px; }

.contact__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 360px; }

.contact__title {
  margin-top: 15px;
  font-size: 18.07px;
  font-weight: bold; }

.contact__line {
  margin-top: 25px;
  width: 100%;
  height: 2px;
  background: #ffffff; }

.contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 260px;
  min-height: 50px;
  border: 1px solid #ffffff;
  font-size: 20.83px; }
  .contact__btn:hover {
    cursor: pointer; }

.contact__btn_mrg-t-75 {
  margin-top: 75px; }

.contact-wr-b__imgs {
  margin-bottom: 25px; }

/*#endregion Contact Page*/
/*#region Price Page*/
.prices {
  position: relative;
  overflow: hidden; }

.prices__head-box {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  max-height: 450px; }

.prices__head {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%; }

.prices_cont-width {
  margin: 0 auto;
  max-width: 960px; }

.prices__head-cont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.prices__head-bg-img img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill; }

.prices__head-parag {
  margin-bottom: 80px;
  margin-left: 60px;
  font-size: 23.61px;
  font-weight: 300; }

.prices__body-box {
  position: relative;
  width: 100%; }

.prices__body {
  position: relative; }

.prices__offers {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.prices__offers_pdg-t-6 {
  padding-top: 60px; }

.prices__offers_pdg-t-4 {
  padding-top: 40px; }

.prices__offers_pdg-b-7 {
  padding-bottom: 70px; }

.prices__offers-title {
  position: absolute;
  top: 100px;
  left: -16px;
  z-index: 4; }

.prices__offers-title_grey {
  font-size: 279.07px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  color: #eeeeee; }

.prices__offers-card {
  position: relative;
  z-index: 5;
  margin-bottom: 18px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .prices__offers-card:last-child {
    margin-bottom: 0; }

.prices__offers-card_border-b-grey {
  border-bottom: 1px solid #c7c7c7; }

.prices__offers-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.price__offers-inf-title {
  font-weight: bold;
  font-size: 25px; }

.price__offers-inf-text {
  margin-top: 5px;
  font-weight: 300;
  font-size: 20.83px; }

.prices__offers-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.prices__offers-price-text {
  margin-right: -1px;
  font-weight: 300;
  font-size: 20.83px; }
  .prices__offers-price-text span {
    font-weight: bold;
    font-size: 33.33px;
    text-transform: uppercase; }

/*#endregion Price Page*/
/*#region Portfolio Page*/
.portfolio {
  overflow: hidden; }

.portfolio-content {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3; }

.portfolio__text {
  font-size: 125.8px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px; }

.portfolio__content-box {
  position: absolute;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; }

.portfolio__content-part {
  position: relative;
  height: 310px;
  width: 480px; }

.portfolio__content-part_bg-black {
  background: #000000; }

.portfolio__content-part_shadow-black {
  -webkit-box-shadow: 0px 0px 26px 19px #060809;
  box-shadow: 0px 0px 26px 19px #060809; }

.portfolio__content-part-img {
  z-index: 4; }
  .portfolio__content-part-img img {
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    opacity: 0.4;
    width: 100%;
    height: 100%; }

.portfolio__content-part-text {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%; }

.portfolio__content-part-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 43.64px; }

/*#endregion Portfolio Page*/
/*#region Portfolio Design Page*/
.portfolio-design {
  max-height: none;
  height: auto; }

.portfolio__container {
  position: relative;
  z-index: 3;
  width: 100%; }

.portfolio__container_bg-white {
  background: #ffffff; }

.portfolio__container_shadow {
  -webkit-box-shadow: 0px 3px 24px 6px rgba(0, 3, 6, 0.2);
  box-shadow: 0px 3px 24px 6px rgba(0, 3, 6, 0.2); }

.portfolio__container_mg-top {
  margin-top: 130px; }

.portfolio__container_design-layerupper {
  z-index: 5; }

.portfolio__container_design-layerup {
  z-index: 4; }

.portfolio-design__wrapper-top {
  width: 100%;
  max-width: 1300px; }

.portfolio__container-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px; }

.portfolio__container-box_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.portfolio__side-text {
  position: relative;
  width: 100%; }
  .portfolio__side-text p {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px; }

.portfolio__side-text_mn-w-200 {
  min-width: 200px; }

.portfolio__side-text_mn-w-150 {
  min-width: 150px; }

.portfolio__side-text_big p {
  font-size: 130px; }

.portfolio__side-text_sml p {
  font-size: 75px;
  letter-spacing: 5px; }

.portfolio__side-text_rotate p {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.portfolio__side-text_rotate-reverse p {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.portfolio__side-text_design-r-p p {
  top: 190px;
  left: -170px; }

.portfolio__side-text_design-rv-p p {
  left: -140px;
  bottom: 255px; }

.portfolio__container-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.portfolio__container-images_line {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.portfolio__container-images_line-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.portfolio__container-images-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.portfolio__container-images-suptitle {
  margin-top: 50px;
  min-width: 490px;
  max-width: 490px;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 32.66px; }

.portfolio__container-images-title {
  margin-top: -10px;
  text-transform: uppercase;
  font-size: 163.63px;
  font-weight: bold;
  letter-spacing: 10px; }

.portfolio__container-images-title_with-slash-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .portfolio__container-images-title_with-slash-text span {
    margin-left: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .portfolio__container-images-title_with-slash-text span p {
      font-size: 77.91px; }
      .portfolio__container-images-title_with-slash-text span p:first-of-type {
        margin-top: 15px;
        line-height: 45px; }
      .portfolio__container-images-title_with-slash-text span p:last-of-type {
        margin-left: 15px; }

.portfolio__container-image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .portfolio__container-image:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
  .portfolio__container-image img {
    -o-object-fit: fill;
    object-fit: fill;
    width: 100%;
    height: 100%; }

.portfolio__footer-half-buttons {
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 360px; }
  .portfolio__footer-half-buttons::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 58%;
    height: 100%;
    background: #ffffff;
    -webkit-clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .portfolio__footer-half-buttons a {
    position: relative;
    z-index: 3;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    height: 64px;
    -webkit-transition: color 1.5s;
    -o-transition: color 1.5s;
    transition: color 1.5s;
    font-size: 18.82px;
    font-weight: bold; }
    .portfolio__footer-half-buttons a:first-of-type {
      color: #ffffff; }
    .portfolio__footer-half-buttons a:last-of-type {
      color: #000000; }
  .portfolio__footer-half-buttons:hover::after {
    right: 42%;
    -webkit-clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .portfolio__footer-half-buttons:hover a {
    -webkit-transition: color 1.5s;
    -o-transition: color 1.5s;
    transition: color 1.5s; }
    .portfolio__footer-half-buttons:hover a:first-of-type {
      color: #000000; }
    .portfolio__footer-half-buttons:hover a:last-of-type {
      color: #ffffff; }

/*#endregion Portfolio Design Page*/
/*#region Portfolio Design Image Margins*/
.portfolio__container-image_mrg-b {
  margin-bottom: 10px; }

.portfolio__container-image_mrg-t {
  margin-top: 10px; }

.portfolio__container-image_mrg-t-sml {
  margin-top: 5px; }

.portfolio__container-image_mrg-l {
  margin-left: 10px; }

.portfolio__container-image_mrg-l-30 {
  margin-left: 30px; }

.portfolio__container-image_mrg-l-50 {
  margin-left: 50px; }

.portfolio__container-image_mrg-r {
  margin-right: 10px; }

.portfolio__container-image_mrg-r-31 {
  margin-right: 31px; }

.portfolio__container-image_mrg-sides {
  margin-left: 10px;
  margin-right: 10px; }

.portfolio-image_mrg-top-min {
  margin-top: -75px; }

.portfolio__container-images_mrg-b-16 {
  margin-bottom: 16px; }

/*#endregion Portfolio Design Image Margins*/
/*#region Portfolio Image Sizes*/
.portfolio__container-image_90x100 {
  width: 90px;
  height: 100px; }

.portfolio__container-image_115x70 {
  width: 115px;
  height: 70px; }

.portfolio__container-image_130x200 {
  width: 130px;
  height: 200px; }

.portfolio__container-image_140x70 {
  width: 140px;
  height: 70px; }

.portfolio__container-image_140x120 {
  width: 140px;
  height: 120px; }

.portfolio__container-image_140x240 {
  width: 140px;
  height: 240px; }

.portfolio__container-image_150x70 {
  width: 150px;
  height: 70px; }

.portfolio__container-image_185x110 {
  width: 185px;
  height: 110px; }

.portfolio__container-image_185x250 {
  width: 185px;
  height: 250px; }

.portfolio__container-image_200x100 {
  width: 200px;
  height: 100px; }

.portfolio__container-image_210x275 {
  width: 210px;
  height: 275px; }

.portfolio__container-image_250x120 {
  width: 250px;
  height: 120px; }

.portfolio__container-image_250x200 {
  width: 250px;
  height: 200px; }

.portfolio__container-image_250x240 {
  width: 250px;
  height: 240px; }

.portfolio__container-image_300x95 {
  width: 300px;
  height: 95px; }

.portfolio__container-image_320x200 {
  width: 320px;
  height: 200px; }

/*#endregion Portfolio Image Sizes*/
/*#region Portfolio Technology Page*/
.portfolio__container-images_technology {
  max-width: 1148px; }

.portfolio__container-image-link {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 380px;
  max-width: 380px;
  min-height: 255px;
  max-height: 255px;
  -webkit-box-shadow: 0px 3px 8px 5px rgba(155, 155, 156, 0.66);
  box-shadow: 0px 3px 8px 5px rgba(155, 155, 156, 0.66); }

.portfolio__container-image-link-empty {
  -webkit-box-shadow: none;
  box-shadow: none; }

.portfolio__container-image-link-link {
  display: inline-block;
  width: 100%;
  height: 100%; }

.portfolio__technology-side-text {
  min-width: 140px;
  width: 140px; }

.portfolio__side-text_technology-r-p p {
  top: 280px;
  left: -265px; }

.portfolio__side-text_technology-rv-p p {
  left: -400px;
  bottom: 425px; }

/*#endregion Portfolio Technology Page*/
/*#region Portfolio Technology Image Margins*/
.portfolio__technology-image_mrg-b {
  margin-bottom: 4px; }

.portfolio__technology-image_mrg-t {
  margin-top: 4px; }

.portfolio__technology-image_mrg-l {
  margin-left: 4px; }

.portfolio__technology-image_mrg-r {
  margin-right: 4px; }

.portfolio__technology-image_mrg-sides {
  margin-left: 4px;
  margin-right: 4px; }

.portfolio__technology-mrg-l-big-min {
  margin-left: -140px; }

.portfolio__technology-mrg-r-for-elements {
  margin-right: 30px; }

.portfolio__technology-mrg-r-big-min {
  margin-right: -200px; }

.portfolio__container-images-suptitle_mrg-t-20 {
  margin-top: 20px; }

/*#endregion Portfolio Technology Image Margins*/
/*#region Request Form*/
.request-form-block {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8); }

.request-form-block_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.request-form__form {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 290px;
  max-height: 465px;
  overflow: hidden;
  background: #191919; }

.request-form__img {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .request-form__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.request-form__content {
  position: relative;
  z-index: 13;
  height: 100%;
  width: 100%; }

.request-form__close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 20px;
  height: 20px;
  overflow: hidden; }
  .request-form__close-btn span {
    position: absolute;
    top: 8px;
    display: block;
    height: 1px;
    width: 20px;
    background: #707070; }
    .request-form__close-btn span:first-of-type {
      left: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .request-form__close-btn span:last-of-type {
      right: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .request-form__close-btn:hover {
    cursor: pointer; }
    .request-form__close-btn:hover span:first-of-type {
      -webkit-animation: 1s ease closeContactLeftBar;
      animation: 1s ease closeContactLeftBar; }
    .request-form__close-btn:hover span:last-of-type {
      -webkit-animation: 1s ease 0.3s closeContactRightBar;
      animation: 1s ease 0.3s closeContactRightBar; }

.request-form__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .request-form__logo img {
    margin-top: 60px;
    margin-bottom: 40px; }

.request-form__field-box {
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 118px; }

.request-form__field-box_content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.request-form__field-box_bg-dark {
  background: #191919; }

.request-form__field-box_shadows {
  -webkit-box-shadow: 0px 0px 32px 8px #000507;
  box-shadow: 0px 0px 32px 8px #000507; }

.request-form__label {
  font-size: 15.21px;
  font-weight: bold;
  text-transform: uppercase; }
  .request-form__label:hover {
    cursor: pointer; }

.request-form__label_mrg-t-20 {
  margin-top: 20px; }

.request-form__label_mrg-t-45 {
  margin-top: 45px; }

.request-form__field {
  padding: 0 0 4px 0;
  border-bottom: 2px solid #707070;
  background: none;
  letter-spacing: 1px;
  font-size: 12.09px;
  font-weight: 300; }

.request-form__field_text-smaller {
  font-size: 11.72px; }

.request-form__field_mrg-t-20 {
  margin-top: 20px; }

.request-form__field_mrg-t-15 {
  margin-top: 15px; }

.request-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 35px;
  width: 145px;
  color: #ffffff;
  background: none;
  border: 0.12px solid #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16.67px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .request-form__btn:hover {
    background: #ffffff;
    color: #191919;
    cursor: pointer;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }

/*#endregion Request Form*/
/*#region Consultation Button*/
.consultation {
  position: relative;
  z-index: 5; }

.consultation__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 480px; }

.consultation_mrg-t-1 {
  margin-top: 100px; }

.consultation_mrg-t-70 {
  margin-top: 70px; }

.consultation_mrg-b-60 {
  margin-bottom: 60px; }

.consultation_mrg-b-70 {
  margin-bottom: 70px; }

.consultation__title {
  text-transform: uppercase;
  font-size: 24.91px;
  font-weight: bold; }

.consultation__parag {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 14.71px;
  font-weight: 300;
  line-height: 15px; }

.consultation__half-buttons {
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 360px; }
  .consultation__half-buttons::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 58%;
    height: 100%;
    background: #000000;
    -webkit-clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .consultation__half-buttons a {
    position: relative;
    z-index: 3;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    height: 64px;
    -webkit-transition: color 1.5s;
    -o-transition: color 1.5s;
    transition: color 1.5s;
    font-size: 18.82px;
    font-weight: bold; }
    .consultation__half-buttons a:first-of-type {
      color: #000000; }
    .consultation__half-buttons a:last-of-type {
      color: #ffffff; }
  .consultation__half-buttons:hover::after {
    right: 42%;
    -webkit-clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .consultation__half-buttons:hover a {
    -webkit-transition: color 1.5s;
    -o-transition: color 1.5s;
    transition: color 1.5s; }
    .consultation__half-buttons:hover a:first-of-type {
      color: #ffffff; }
    .consultation__half-buttons:hover a:last-of-type {
      color: #000000; }

.consultation__half-buttons_border-dark {
  border: 0.21px solid #191919; }

.consultation__half-buttons_border-white {
  border: 0.21px solid #ffffff; }

/*#endregion Consultation Button*/
/*#region Colors Classes*/
.text-white {
  color: #ffffff; }

.text-black {
  color: #000000; }

.text-dark {
  color: #191919; }

.text-contact-grey {
  color: #5f5f5f; }

.text-rotate {
  color: #c2c2c2; }

.text-design-dark-grey {
  color: #525252; }

.text-design-light-grey {
  color: #9d9d9d; }

.btn_white {
  background: #ffffff;
  color: #191919;
  font-weight: bold;
  text-transform: uppercase; }

/*#endregion Colors Classes*/
